/********************************/
/*            Navbar          */
/********************************/


.logo{
    font-family: 'Bungee', sans-serif;
    color:  rgba(255, 228, 25, 1);
}
#navbar.navbar-default .navbar-brand {
    color: rgba(59, 50, 50, 1);
}
#navbar.navbar-default {
    font-size: 17px;
    background-color: rgba(255, 255, 255, 1);
    border-bottom-width: 0px;
    font-family: 'Lato', sans-serif;
}
#navbar.navbar-default .navbar-nav>li>a {
    color: rgba(163, 160, 160, 1);
    background-color: rgba(255, 255, 255, 1);
}
#navbar.navbar-default .navbar-nav>li>a:hover,
#navbar.navbar-default .navbar-nav>li>a:focus {
    color: rgba(107, 101, 101, 1);
    background-color: rgba(255, 228, 25, 1);
}
#navbar.navbar-default .navbar-nav>.active>a,
#navbar.navbar-default .navbar-nav>.active>a:hover,
#navbar.navbar-default .navbar-nav>.active>a:focus {
    color: rgba(54, 54, 53, 1);
    background-color: rgba(255, 228, 25, 1);
}
#navbar.navbar-default .navbar-toggle {
    border-color: #ffe419;
}
#navbar.navbar-default .navbar-toggle:hover,
#navbar.navbar-default .navbar-toggle:focus {
    background-color: #ffe419;
}
#navbar.navbar-default .navbar-toggle .icon-bar {
    background-color: #ffe419;
}
#navbar.navbar-default .navbar-toggle:hover .icon-bar,
#navbar.navbar-default .navbar-toggle:focus .icon-bar {
    background-color: #ffffff;
}

/*
Fade content bs-carousel with hero headers
Code snippet by maridlcrmn (Follow me on Twitter @maridlcrmn) for Bootsnipp.com
Image credits: unsplash.com
*/

/********************************/
/*       Fade Bs-carousel       */
/********************************/
.fade-carousel {
    position: relative;
    height: 100vh;
}
.fade-carousel .carousel-inner .item {
    height: 100vh;
}
.fade-carousel .carousel-indicators > li {
    margin: 0 2px;
    background-color: #ffe419;
    border-color: #ffe419;
    opacity: .7;
}
.fade-carousel .carousel-indicators > li.active {
  width: 10px;
  height: 10px;
  opacity: 1;
}

/********************************/
/*          Hero Headers        */
/********************************/
.hero {
    position: absolute;

    top: 50%;
    left: 50%;
    z-index: 3;
    color: #fff;
    text-align: center;
    text-transform: uppercase;
    font-family: 'Lato',serif;
    font-weight: bold;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);
      -webkit-transform: translate3d(-50%,-50%,0);
         -moz-transform: translate3d(-50%,-50%,0);
          -ms-transform: translate3d(-50%,-50%,0);
           -o-transform: translate3d(-50%,-50%,0);
              transform: translate3d(-50%,-50%,0);
}
.hero h1 {
    font-size: 6em;    
    font-weight: bold;
    margin: 0;
    padding: 0;
}

.fade-carousel .carousel-inner .item .hero {
    opacity: 0;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s; 
}
.fade-carousel .carousel-inner .item.active .hero {
    opacity: 1;
    -webkit-transition: 2s all ease-in-out .1s;
       -moz-transition: 2s all ease-in-out .1s; 
        -ms-transition: 2s all ease-in-out .1s; 
         -o-transition: 2s all ease-in-out .1s; 
            transition: 2s all ease-in-out .1s;    
}

/********************************/
/*            Overlay           */
/********************************/
.overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    background-color: #080d15;
    opacity: .7;
}

/********************************/
/*          Custom Buttons      */
/********************************/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: gray;
    background-color: #ffe419;
    border-color: #ffe419;
    border-radius: 25px;
    opacity: 0.85;
    outline: none;
    margin: 20px auto;
}

/********************************/
/*       Slides backgrounds     */
/********************************/
.fade-carousel .slides .slide-1, 
.fade-carousel .slides .slide-2,
.fade-carousel .slides .slide-3 {
  height: 100vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.fade-carousel .slides .slide-1 {
  background-image: url("/img/desk.jpg");
}
.fade-carousel .slides .slide-2 {
  background-image: url("/img/computer.jpg");
}
.fade-carousel .slides .slide-3 {
  background-image: url("/img/phone.jpg");
}

/********************************/
/*          Media Queries       */
/********************************/
@media screen and (min-width: 980px){
    .hero { width: 980px; }    
}
@media screen and (max-width: 640px){
    .hero h1 { font-size: 4em; }    
}

/********************************/
/*          responsive black and white gallery     */
/********************************/

/* Make sure images don't get too big */
img {
  max-width: 100%;
  
filter: gray; /* IE6-9 */
 -webkit-filter: grayscale(1); /* Google Chrome, Safari 6+ & Opera 15+ */
}

/* no-gutters Class Rules */
.row.no-gutters {
   margin-right: 0;
   margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}

img:hover {
  filter: none; /* IE6-9 */
  -webkit-filter: grayscale(0); /* Google Chrome, Safari 6+ & Opera 15+ */
 
}

.gallery{
    font-family: 'Lato', serif;
    margin-top: 100px;
    margin-bottom:20px;

}
#gallery
{
    margin-bottom: 80px;
}

/*****{***************************/
/*          Quote    */
/********************************/

.simple {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 40px;
    background-color:  #FFD700 ;
    color: #080d15;
    height: 170px;
    line-height: 170px;
    margin-top: 60px; 
    

}

/********************************/
/*          About Me  */
/********************************/

.AboutMe{
    text-align: center;
    font-size: 21px;
    font-family: 'Lato', sans-serif;
    margin-left: 19%;
    margin-right: 19%;
    padding-bottom: 35px;
    margin-top: 80px;
}

/********************************/
/*          Book Online    */
/********************************/

.book {
    text-align: center;
    font-family: 'Lato', sans-serif;
    padding-bottom: 30px;
    margin-top:100px;
    


}
#submit{
    background-color: #FFD700 ;
    border-color: #ffe419;
    border-radius: 25px;

}
#submit:hover{
    background-color: gray;
    border-color: gray;
    opacity: 0.85;
    color: white;
    border-radius: 25px;
}
.form{
    padding-left: 20px;
    padding-right: 20px;
}

#date{
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  line-height: 1.0;
  max-width: 540px;
  margin: 0 auto;
  padding: 0;
  color:gray;

}
fieldset {
  margin: 1em 0;
  border: 0;
  padding: 0;
  position: relative;
}

input {
  font-size: 1em;
  font-family: sans-serif;
  font-weight: 100;
  border: 1px solid lightgray;
  border-radius: 5px;

  padding: .75em 1em;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
}

a {
  color: #ffe419;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#input_date {
  position: absolute;
  right: 1em;
  top: 1em;
  padding: 0;
  margin: 0;
  width: 0;
  height: 0;
  background: transparent;
  color: #333;
  border: 0;
  border-left: .66em solid transparent;
  border-right: .66em solid transparent;
  border-top: 1em solid #333;
  cursor: pointer;
}

#input_date:focus {
  border-top-color: #ffe419;
}

.picker {
  font-size: 16px;
  text-align: left;
  line-height: 1.2;
  color: #000;
  position: absolute;
  z-index: 10000
}

.picker__input.picker__input--active {
  border-color: #ffe419;
}

.picker__holder {
  width: 100%;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch
}

.picker {
  width: 100%
}

.picker__holder {
  position: absolute;
  background: #fff;
  border: 1px solid #aaa;
  border-top: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 176px;
  max-width: 466px;
  -webkit-border-radius: 0 0 6px 6px;
  -moz-border-radius: 0 0 6px 6px;
  border-radius: 0 0 6px 6px;
  max-height: 0;
  -ms-filter: "alpha(Opacity=0)";
  filter: alpha(opacity=0);
  -moz-opacity: 0;
  opacity: 0;
  -webkit-transform: translateY(-1em) perspective(600px) rotateX(10deg);
  -moz-transform: translateY(-1em) perspective(600px) rotateX(10deg);
  transform: translateY(-1em) perspective(600px) rotateX(10deg);
  -webkit-transition: all .15s ease-out, max-height 0 .15s;
  -moz-transition: all .15s ease-out, max-height 0 .15s;
  transition: all .15s ease-out, max-height 0 .15s
}

.picker--opened .picker__holder {
  max-height: 25em;
  -ms-filter: "alpha(Opacity=100)";
  filter: alpha(opacity=100);
  -moz-opacity: 1;
  opacity: 1;
  -webkit-transform: translateY(0) perspective(600px) rotateX(0);
  -moz-transform: translateY(0) perspective(600px) rotateX(0);
  transform: translateY(0) perspective(600px) rotateX(0);
  -webkit-transition: all .15s ease-out, max-height 0;
  -moz-transition: all .15s ease-out, max-height 0;
  transition: all .15s ease-out, max-height 0;
  -webkit-box-shadow: 0 6px 18px 1px rgba(0, 0, 0, .12);
  -moz-box-shadow: 0 6px 18px 1px rgba(0, 0, 0, .12);
  box-shadow: 0 6px 18px 1px rgba(0, 0, 0, .12)
}

.picker__box {
  padding: 0 1em
}

.picker__header {
  text-align: center;
  position: relative;
  margin-top: .75em
}

.picker__month,
.picker__year {
  font-weight: 500;
  display: inline-block;
  margin-left: .25em;
  margin-right: .25em
}

.picker__year {
  color: #999;
  font-size: .8em;
  font-style: italic
}

.picker__select--month,
.picker__select--year {
  font-size: .8em;
  border: 1px solid #b7b7b7;
  height: 2.5em;
  padding: .66em .25em;
  margin-left: .25em;
  margin-right: .25em;
  margin-top: -.5em
}

.picker__select--month {
  width: 35%
}

.picker__select--year {
  width: 22.5%
}

.picker__select--month:focus,
.picker__select--year:focus {
  border-color: #ffe419;
}

.picker__nav--prev,
.picker__nav--next {
  position: absolute;
  top: -.33em;
  padding: .5em 1.33em;
  width: 1em;
  height: 1em
}

.picker__nav--prev {
  left: -1em;
  padding-right: 1.5em
}

.picker__nav--next {
  right: -1em;
  padding-left: 1.5em
}

.picker__nav--prev:before,
.picker__nav--next:before {
  content: " ";
  border-top: .5em solid transparent;
  border-bottom: .5em solid transparent;
  border-right: .75em solid #000;
  width: 0;
  height: 0;
  display: block;
  margin: 0 auto
}

.picker__nav--next:before {
  border-right: 0;
  border-left: .75em solid #000
}

.picker__nav--prev:hover,
.picker__nav--next:hover {
  cursor: pointer;
  color: #000;
  
}

.picker__nav--disabled,
.picker__nav--disabled:hover,
.picker__nav--disabled:before,
.picker__nav--disabled:before:hover {
  cursor: default;
  background: 0;
  border-right-color: whitesmoke;
  border-left-color: whitesmoke
}

.picker__table {
  text-align: center;
  border-collapse: collapse;
  border-spacing: 0;
  table-layout: fixed;
  font-size: inherit;
  width: 100%;
  margin-top: .75em;
  margin-bottom: .5em
}

@media (min-height:26.5em) {
  .picker__table {
    margin-bottom: .75em
  }
}

.picker__table td {
  margin: 0;
  padding: 0
}

.picker__weekday {
  width: 14.285714286%;
  font-size: .75em;
  padding-bottom: .25em;
  color: #999;
  font-weight: 500
}

@media (min-height:26.5em) {
  .picker__weekday {
    padding-bottom: .5em
  }
}

.picker__day {
  padding: .3125em 0;
  font-weight: 200;
  border: 1px solid transparent
}

.picker__day--today {
  color: #ffe419;
  position: relative
}

.picker__day--today:before {
  content: " ";
  position: absolute;
  top: 2px;
  right: 2px;
  width: 0;
  height: 0;
  border-top: .5em solid #ffe419;
  border-left: .5em solid transparent
}

.picker__day--selected,
.picker__day--selected:hover {
  border-color: #ffe419;
}

.picker__day--highlighted {
  background: #ffe419;
}

.picker__day--disabled:before {
  border-top-color: #aaa
}

.picker__day--outfocus {
  color: #ddd;
  -ms-filter: "alpha(Opacity=66)";
  filter: alpha(opacity=66);
  -moz-opacity: .66;
  opacity: .66
}

.picker__day--infocus:hover,
.picker__day--outfocus:hover {
  cursor: pointer;
  color: #000;
  background: #ffe419;
}

.picker__day--highlighted:hover,
.picker--focused .picker__day--highlighted {
  background: #ffe419;
  color: #fff
}

.picker__day--disabled,
.picker__day--disabled:hover {
  background: whitesmoke;
  border-color: whitesmoke;
  color: #ddd;
  cursor: default
}

.picker__footer {
  text-align: center
}

.picker__button--today,
.picker__button--clear {
  border: 1px solid #fff;
  background: #fff;
  font-size: .8em;
  padding: .66em 0;
  font-weight: 700;
  width: 50%;
  display: inline-block;
  vertical-align: bottom
}

.picker__button--today:hover,
.picker__button--clear:hover {
  cursor: pointer;
  color: #000;
  background: #ffe419;
  border-bottom-color: #ffe419;
}

.picker__button--today:focus,
.picker__button--clear:focus {
  background: #ffe419;
  border-color: #ffe419;
  outline: 0
}

.picker__button--today:before,
.picker__button--clear:before {
  position: relative;
  display: inline-block;
  height: 0
}

.picker__button--today:before {
  content: " ";
  margin-right: .45em;
  top: -.05em;
  width: 0;
  border-top: .66em solid #ffe419;
  border-left: .66em solid transparent
}

.picker__button--clear:before {
  content: "\D7";
  margin-right: .35em;
  top: -.1em;
  color: #e20;
  vertical-align: top;
  font-size: 1.1em
}




/********************************/
/*          Contact Us   */
/********************************/

.contact{
    text-align: center;
    font-size: 21px;
    font-family: 'Lato', sans-serif;
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 60px;
    padding-bottom: 60px;
    margin-top:60px;
    margin-bottom: 60px;
    background-color: #FFD700 ;
    height:500px;

}

.phone{
    color:white;
}



.footer{
    font-size:48px;
    margin: auto;
     text-align: center;
}

.icoFacebookf:hover,.icoTwitterf:hover,.icoLinkedinf:hover{
    color:  gray;
     font-size:48px;
     
}


.icoFacebookf,.icoTwitterf,.icoLinkedinf{
    color:  #FFD700 ;
     font-size:40px;
}


/********************************/
/*         footer   */
/********************************/

.footer{
    height:500px;
}
.bottom{
    text-align: left;
    font-family: 'Lato', sans-serif;
    font-size: 12px;
    background-color:  #FFD700 ;
    color: #080d15;
    height: 90px;
    padding-top: 20px;
    margin-top: 50px; 
    padding-bottom: 0px;
    margin-bottom: 0px;
    
}
/********************************/
/*         moodify*/
/********************************/



h1#app-name {
    font-size:84px;
}

button#refreshbtn {
    display:none;
}

img#selected-img{
    width:150px;
    height:150px;
    padding:20px;
    display:none;
    margin: 0 auto;
}

h2#page-header {
    padding-top:20px;
    padding-bottom:20px;
}

body #page-container {
    margin-top: 150px;
    text-align: center;
    margin-bottom: 40px;
}

.btn-wrapper {
    padding: 20px 0;
}

input#my-file-selector {
    display:none;
}